li {
	display: inline;
	width: 10px;
	height: 20px;
	/* margin: 3px; */
	line-height: 3;
}

.new-li:hover {
	color: black;
	border: 1px solid lightblue;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.2em;
	text-align: center;
	text-decoration-color: blue;
	margin: 3px;
	outline: none;
}

.div-alpha {
	color: black;
	border: 1px dotted grey;
	border-radius: 5px;
	background: #cee0f4;
	cursor: pointer;
	font-size: 1.2em;
	text-align: center;
	padding: 2px;
	display: inline-block;
	line-height: 1;
	/* text-decoration-color: blue; */
	/* width:50px;
     height: 30px; */
	margin: 1px;
	outline: none;
	white-space: nowrap;
	width: 1em;
}

.paragraph-container {
	font-size: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0 0 1em;
	line-height: inherit;
}

.h5p-question-check-answer .h5p-joubelui-button {
	margin: 0 0.5em 0 0;
	white-space: nowrap;
}

.button-container {
	margin: 1em;
}

[aria-describedby="h5p-description-correct"] {
	background: #9dd8bb;
	color: #255c41;
	display: inline-block;
	line-height: 1;
	width: 2.5em;
	border: hidden;
	border-radius: 5px;
	margin-right: 2px;
	margin-left: 2px;
	padding: 2px;
	white-space: nowrap;
	font-size: 1.2em;
}

[aria-describedby="h5p-description-incorrect"] {
	background: #ff4d4d;
	color: #cc0000;
	display: inline-block;
	border: hidden;
	border-radius: 5px;
	text-decoration: line-through;
	line-height: 1;
	margin-right: 2px;
	margin-left: 2px;
	width: 2.5em;
	padding: 2px;
	white-space: nowrap;
	font-size: 1.2em;
}

[aria-describedby="h5p-description-correct"]:after {
	/* margin-right: 15px; */
	position: relative;
	right: 0.1em;
	text-decoration: none;
	/* display: inline-block; */
	content: "\f00c";
	font-family: 'H5PFontAwesome4';
	color: #255c41;
	padding-left: 0.75em;
}

[aria-describedby="h5p-description-incorrect"]:after {
	/* margin-right: 15px; */
	position: relative;
	right: 0.1em;
	/* display: inline-block; */
	font-family: 'H5PFontAwesome4';
	text-decoration: none;
	content: "\f00d";
	color: #cc0000;
	padding-left: 0.75em;
}

[aria-describedby="h5p-description-missed"] {
	background-color: #E4F4EC;
	color: black;
	border: 1px dotted grey;
	cursor: pointer;
	font-size: 1.2em;
	text-align: center;
	padding: 2px;
	display: inline-block;
	line-height: 1;
	margin: 1px;
	outline: none;
	white-space: nowrap;
	width: 1em;
}

.question-plus-one {
	background-image: url(../images/index.svg);
}

.question-minus-one {
	background-image: url(../images/minus-one.svg);
}

.question-plus-one,
.question-minus-one {
	position: absolute;
	width: 1.923076923em;
	height: calc(1.923076923em * 0.638297872);
	background-size: 100% 100%;
	/* right: -1.615384615em; */
	/* top: 5.5em; */
	z-index: 1;
	opacity: 1;
	padding-left: 4em;
	transition: opacity 150ms linear, transform 150ms linear;
	/* line-height: 5em; */
}

.h5p-feedback-dialog {
	position: relative;
	width: calc(100% - 0.5em);
	/* left: 0.25em; */
}

.h5p-feedback-inner {
	padding: 0.5em 1.25em;
	text-align: left;
	position: relative;
}

.h5p-feedback-text {
	position: relative;
	z-index: 3;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	color: #1a73d9;
	font-weight: bold;
	margin-bottom: 0.8em;
}

.h5p-feedback-text::-webkit-scrollbar {
	width: 0.4em;
}

.h5p-feedback-text::-webkit-scrollbar-thumb {
	border-radius: 0.2em;
	background: #aaa;
}

.feedback-container {
	padding-left: 2em;
}
